<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * di
 *
 * @copyright Copyright © 2020 magesolution. All rights reserved.
 * @author    @copyright Copyright (c) 2014 magesolution (<https://www.magesolution.com>)
 * @license <https://www.magesolution.com/license-agreement.html>
 * @Author: ndthien0912<ndthien0912@gmail.com>
 * @github: <https://github.com/magesolution>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MGS\OSCheckout\Api\CheckoutManagementInterface" type="MGS\OSCheckout\Model\CheckoutManagement"/>
    <preference for="MGS\OSCheckout\Api\GuestCheckoutManagementInterface" type="MGS\OSCheckout\Model\GuestCheckoutManagement"/>
    <preference for="Magento\Checkout\Controller\Index\Index" type="MGS\OSCheckout\Controller\Checkout\Index" />
    <type name="Magento\Customer\Model\Address">
        <plugin name="setShouldIgnoreValidation" type="MGS\OSCheckout\Plugin\Customer\Address"/>
    </type>
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="onestepcheckout_newaccount" type="MGS\OSCheckout\Plugin\Customer\AccountManagement"/>
    </type>
</config>
